In [1]:
import pandas as pd
import numpy as np
import os 
import seaborn as sns

# Dataset Hosp

In [2]:
base_path = r"../documents/mimic-iv-clinical-database-demo-2.2/hosp"

files_to_load = {
    "admissions": "admissions.csv.gz",
    "d_hcpcs": "d_hcpcs.csv.gz",
    "d_icd_diagnoses": "d_icd_diagnoses.csv.gz",
    "d_icd_procedures": "d_icd_procedures.csv.gz",
    "d_labitems": "d_labitems.csv.gz",
    "diagnoses_icd": "diagnoses_icd.csv.gz",
    "drgcodes": "drgcodes.csv.gz",
    "emar": "emar.csv.gz",
    "emar_detail": "emar_detail.csv.gz",
    "hcpcsevents": "hcpcsevents.csv.gz",
    "labevents": "labevents.csv.gz",
    "microbiologyevents": "microbiologyevents.csv.gz",
    "omr": "omr.csv.gz",
    "patients": "patients.csv.gz",
    "pharmacy": "pharmacy.csv.gz",
    "poe": "poe.csv.gz",
    "poe_detail": "poe_detail.csv.gz",
    "prescriptions": "prescriptions.csv.gz",
    "procedures_icd": "procedures_icd.csv.gz",
    "provider": "provider.csv.gz",
    "services": "services.csv.gz",
    "transfers": "transfers.csv.gz"
}

for name, relative_path in files_to_load.items():
    full_path = os.path.join(base_path, relative_path)
    if os.path.exists(full_path):
        print(f"\nðŸ”¹ Lendo {name} de: {full_path}")
        df = pd.read_csv(full_path, compression='gzip', low_memory=False)
        globals()[name] = df
        print(f"O dataset '{name}' tem {len(df)} linhas.")
        display(df.head())
    else:
        print(f"Ficheiro nÃ£o encontrado: {full_path}")

ðŸ”¹ Lendo admissions de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\admissions.csv.gz
O dataset 'admissions' tem 275 linhas.

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10004235,24181354,2196-02-24 14:38:00,2196-03-04 14:02:00,NaN,URGENT,P03YMR,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,2196-02-24 12:15:00,2196-02-24 17:07:00,0
1,10009628,25926192,2153-09-17 17:08:00,2153-09-25 13:20:00,NaN,URGENT,P41R5N,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,?,MARRIED,HISPANIC/LATINO - PUERTO RICAN,NaN,NaN,0
2,10018081,23983182,2134-08-18 02:02:00,2134-08-23 19:35:00,NaN,URGENT,P233F6,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,MARRIED,WHITE,2134-08-17 16:24:00,2134-08-18 03:15:00,0
3,10006053,22942076,2111-11-13 23:39:00,2111-11-15 17:20:00,2111-11-15 17:20:00,URGENT,P38TI6,TRANSFER FROM HOSPITAL,DIED,Medicaid,ENGLISH,NaN,UNKNOWN,NaN,NaN,1
4,10031404,21606243,2113-08-04 18:46:00,2113-08-06 20:57:00,NaN,URGENT,P07HDB,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,NaN,NaN,0

ðŸ”¹ Lendo d_hcpcs de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\d_hcpcs.csv.gz
O dataset 'd_hcpcs' tem 89200 linhas.

,code,category,long_description,short_description
0,TD,NaN,Rn,Rn
1,A0428,NaN,"Ambulance service, basic life support, non-eme...",Bls
2,V5272,NaN,"Assistive listening device, tdd",Tdd
3,S2080,NaN,Laser-assisted uvulopalatoplasty (laup),Laup
4,S8037,NaN,Magnetic resonance cholangiopancreatography (m...,Mrcp

ðŸ”¹ Lendo d_icd_diagnoses de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\d_icd_diagnoses.csv.gz
O dataset 'd_icd_diagnoses' tem 109775 linhas.

  icd_code  icd_version                                         long_title
0     0090            9  Infectious colitis, enteritis, and gastroenter...
1    01160            9      Tuberculous pneumonia [any form], unspecified
2    01186            9  Other specified pulmonary tuberculosis, tuberc...
3    01200            9                  Tuberculous pleurisy, unspecified
4    01236            9  Tuberculous laryngitis, tubercle bacilli not f...

ðŸ”¹ Lendo d_icd_procedures de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\d_icd_procedures.csv.gz
O dataset 'd_icd_procedures' tem 85257 linhas.

  icd_code  icd_version                                         long_title
0     0039            9                    Other computer assisted surgery
1     0048            9          Insertion of four or more vascular stents
2     0074            9         Hip bearing surface, metal-on-polyethylene
3     0077            9       Hip bearing surface, ceramic-on-polyethylene
4     0126            9  Insertion of catheter(s) into cranial cavity o...

ðŸ”¹ Lendo d_labitems de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\d_labitems.csv.gz
O dataset 'd_labitems' tem 1622 linhas.

   itemid                       label  fluid   category
0   50808                Free Calcium  Blood  Blood Gas
1   50826                Tidal Volume  Blood  Blood Gas
2   50813                     Lactate  Blood  Blood Gas
3   52029           % Ionized Calcium  Blood  Blood Gas
4   50801  Alveolar-arterial Gradient  Blood  Blood Gas

ðŸ”¹ Lendo diagnoses_icd de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\diagnoses_icd.csv.gz
O dataset 'diagnoses_icd' tem 4506 linhas.

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10035185  22580999        3     4139            9
1    10035185  22580999       10     V707            9
2    10035185  22580999        1    41401            9
3    10035185  22580999        9     3899            9
4    10035185  22580999       11    V8532            9

ðŸ”¹ Lendo drgcodes de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\drgcodes.csv.gz
O dataset 'drgcodes' tem 454 linhas.

,subject_id,hadm_id,drg_type,drg_code,description,drg_severity,drg_mortality
0,10004235,22187210,HCFA,864,FEVER,NaN,NaN
1,10026255,22059910,HCFA,180,RESPIRATORY NEOPLASMS W MCC,NaN,NaN
2,10032725,20611640,HCFA,54,NERVOUS SYSTEM NEOPLASMS W MCC,NaN,NaN
3,10005866,21636229,HCFA,393,OTHER DIGESTIVE SYSTEM DIAGNOSES W MCC,NaN,NaN
4,10008454,20291550,HCFA,956,"LIMB REATTACHMENT, HIP & FEMUR PROC FOR MULTIP...",NaN,NaN

ðŸ”¹ Lendo emar de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\emar.csv.gz
O dataset 'emar' tem 35835 linhas.

,subject_id,hadm_id,emar_id,emar_seq,poe_id,pharmacy_id,enter_provider_id,charttime,medication,event_txt,scheduletime,storetime
0,10005909,20199380.0,10005909-74,74,10005909-97,96110427.0,NaN,2144-10-31 05:56:00,Magnesium Sulfate,NaN,2144-10-31 05:56:00,2144-10-31 05:56:00
1,10005909,20199380.0,10005909-79,79,10005909-97,96110427.0,NaN,2144-10-31 08:00:00,Magnesium Sulfate,NaN,2144-10-31 08:00:00,2144-10-31 08:15:00
2,10008287,22168393.0,10008287-32,32,10008287-58,NaN,P26PKF,2145-09-28 20:15:00,Potassium Chloride Replacement (Critical Care ...,NaN,2145-09-28 20:15:00,2145-09-28 20:38:00
3,10010471,21322534.0,10010471-33,33,10010471-51,52131847.0,NaN,2155-05-08 21:45:00,Metoprolol Tartrate,NaN,2155-05-08 21:45:00,2155-05-08 22:40:00
4,10015272,27993466.0,10015272-31,31,10015272-48,88758875.0,NaN,2137-06-13 08:36:00,Metoprolol Tartrate,NaN,2137-06-13 08:36:00,2137-06-13 08:36:00

ðŸ”¹ Lendo emar_detail de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\emar_detail.csv.gz
O dataset 'emar_detail' tem 72018 linhas.

,subject_id,emar_id,emar_seq,parent_field_ordinal,administration_type,pharmacy_id,barcode_type,reason_for_no_barcode,complete_dose_not_given,dose_due,...,infusion_rate_unit,route,infusion_complete,completion_interval,new_iv_bag_hung,continued_infusion_in_other_location,restart_interval,side,site,non_formulary_visual_verification
0,10039708,10039708-1750,1750,1.1,NaN,80400800.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10015860,10015860-565,565,1.1,NaN,98178739.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10005866,10005866-571,571,1.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10014354,10014354-2295,2295,1.1,NaN,7889909.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10029291,10029291-140,140,NaN,IV Infusion,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,N,NaN,NaN,NaN,PRN,NaN,NaN,NaN

ðŸ”¹ Lendo hcpcsevents de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\hcpcsevents.csv.gz
O dataset 'hcpcsevents' tem 61 linhas.

   subject_id   hadm_id   chartdate hcpcs_cd  seq_num short_description
0    10005348  29176490  2129-05-22    93454        1    Cardiovascular
1    10005348  29176490  2129-05-22    92921        2    Cardiovascular
2    10004457  21039249  2140-09-17    92980        1    Cardiovascular
3    10004457  25559382  2148-09-14    93455        1    Cardiovascular
4    10039708  27504040  2142-07-06    64415        2    Nervous system

ðŸ”¹ Lendo labevents de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\labevents.csv.gz
O dataset 'labevents' tem 107727 linhas.

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,172061,10014354,29600294.0,1808066,51277,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,15.4,15.40,%,10.5,15.5,NaN,ROUTINE,NaN
1,172062,10014354,29600294.0,1808066,51279,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,3.35,3.35,m/uL,4.6,6.1,abnormal,ROUTINE,NaN
2,172068,10014354,29600294.0,1808066,52172,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,49.7,49.70,fL,35.1,46.3,abnormal,ROUTINE,NaN
3,172063,10014354,29600294.0,1808066,51301,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,20.3,20.30,K/uL,4.0,10.0,abnormal,ROUTINE,NaN
4,172050,10014354,29600294.0,1808066,51249,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,31.1,31.10,g/dL,32.0,37.0,abnormal,ROUTINE,NaN

ðŸ”¹ Lendo microbiologyevents de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\microbiologyevents.csv.gz
O dataset 'microbiologyevents' tem 2899 linhas.

,microevent_id,subject_id,hadm_id,micro_specimen_id,order_provider_id,chartdate,charttime,spec_itemid,spec_type_desc,test_seq,...,org_name,isolate_num,quantity,ab_itemid,ab_name,dilution_text,dilution_comparison,dilution_value,interpretation,comments
0,36,10000032,25742920.0,7814634,NaN,2180-08-06 00:00:00,2180-08-06 20:35:00,70070,SWAB,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No VRE isolated.
1,15,10000032,22595853.0,5717063,NaN,2180-05-07 00:00:00,2180-05-07 00:19:00,70070,SWAB,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No VRE isolated.
2,32,10000032,29079034.0,5901894,NaN,2180-07-24 00:00:00,2180-07-24 00:55:00,70070,SWAB,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No VRE isolated.
3,7013,10020944,29974575.0,4646730,NaN,2131-02-27 00:00:00,2131-02-27 17:41:00,70070,SWAB,1,...,ENTEROCOCCUS SP.,1.0,NaN,90015.0,VANCOMYCIN,>256,NaN,NaN,R,NaN
4,12898,10037975,27617929.0,1636367,NaN,2185-01-17 00:00:00,2185-01-17 21:32:00,70070,SWAB,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No VRE isolated.

ðŸ”¹ Lendo omr de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\omr.csv.gz
O dataset 'omr' tem 2964 linhas.

   subject_id   chartdate  seq_num      result_name result_value
0    10011398  2146-12-01        1  Height (Inches)           63
1    10011398  2147-01-22        1     Weight (Lbs)          127
2    10011398  2146-12-01        1     Weight (Lbs)          135
3    10011398  2147-07-24        1     Weight (Lbs)          136
4    10011398  2147-03-26        1     Weight (Lbs)          136

ðŸ”¹ Lendo patients de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\patients.csv.gz
O dataset 'patients' tem 100 linhas.

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10014729      F          21         2125       2011 - 2013         NaN
1    10003400      F          72         2134       2011 - 2013  2137-09-02
2    10002428      F          80         2155       2011 - 2013         NaN
3    10032725      F          38         2143       2011 - 2013  2143-03-30
4    10027445      F          48         2142       2011 - 2013  2146-02-09

ðŸ”¹ Lendo pharmacy de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\pharmacy.csv.gz
O dataset 'pharmacy' tem 15306 linhas.

,subject_id,hadm_id,pharmacy_id,poe_id,starttime,stoptime,medication,proc_type,status,entertime,...,basal_rate,one_hr_max,doses_per_24_hrs,duration,duration_interval,expiration_value,expiration_unit,expirationdate,dispensation,fill_quantity
0,10027602,28166872,24340150,NaN,2201-10-30 12:00:00,NaN,Midazolam,Miscellaneous Charges,Inactive (Due to a change order),2201-10-30 12:32:11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10027602,28166872,14435820,NaN,2201-10-30 12:00:00,NaN,Midazolam,Miscellaneous Charges,Inactive (Due to a change order),2201-10-30 12:54:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10027602,28166872,40720238,NaN,2201-10-30 12:00:00,NaN,Fentanyl Citrate,Miscellaneous Charges,Inactive (Due to a change order),2201-10-30 12:32:11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10027602,28166872,27168639,NaN,2201-10-30 12:00:00,NaN,Fentanyl Citrate,Miscellaneous Charges,Inactive (Due to a change order),2201-10-30 12:54:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10027602,28166872,62845687,NaN,2201-10-31 12:00:00,NaN,Lorazepam,Miscellaneous Charges,Inactive (Due to a change order),2201-10-31 12:02:42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

ðŸ”¹ Lendo poe de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\poe.csv.gz
O dataset 'poe' tem 45154 linhas.

,poe_id,poe_seq,subject_id,hadm_id,ordertime,order_type,order_subtype,transaction_type,discontinue_of_poe_id,discontinued_by_poe_id,order_provider_id,order_status
0,10002930-456,456,10002930,20282368,2201-03-23 19:14:33,General Care,Other,New,NaN,NaN,P04TDP,Inactive
1,10002930-454,454,10002930,20282368,2201-03-23 19:14:33,General Care,Vitals/Monitoring,New,NaN,NaN,P04TDP,Inactive
2,10002930-455,455,10002930,20282368,2201-03-23 19:14:33,General Care,Activity,New,NaN,NaN,P04TDP,Inactive
3,10002930-453,453,10002930,20282368,2201-03-23 19:14:33,IV therapy,IV access,New,NaN,NaN,P04TDP,Inactive
4,10002930-452,452,10002930,20282368,2201-03-23 19:14:33,ADT orders,Admit,New,NaN,NaN,P04TDP,Inactive

ðŸ”¹ Lendo poe_detail de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\poe_detail.csv.gz
O dataset 'poe_detail' tem 3795 linhas.

         poe_id  poe_seq  subject_id           field_name field_value
0   10011398-23       23    10011398             Admit to     Surgery
1  10011398-103      103    10011398          Transfer to     Surgery
2  10011398-163      163    10011398   Discharge Planning   Finalized
3  10011398-109      109    10011398  Tubes & Drains type  Chest tube
4   10011398-35       35    10011398  Tubes & Drains type  Chest tube

ðŸ”¹ Lendo prescriptions de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\prescriptions.csv.gz
O dataset 'prescriptions' tem 18087 linhas.

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
0,10027602,28166872,27168639,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Fentanyl Citrate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10027602,28166872,40720238,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Fentanyl Citrate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10027602,28166872,62845687,NaN,NaN,NaN,2201-10-31 12:00:00,NaN,MAIN,Lorazepam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10027602,28166872,24340150,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Midazolam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10027602,28166872,14435820,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Midazolam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

ðŸ”¹ Lendo procedures_icd de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\procedures_icd.csv.gz
O dataset 'procedures_icd' tem 722 linhas.

   subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0    10011398  27505812        3  2146-12-15     3961            9
1    10011398  27505812        2  2146-12-15     3615            9
2    10011398  27505812        1  2146-12-15     3614            9
3    10014729  23300884        4  2125-03-23     3897            9
4    10014729  23300884        1  2125-03-20     3403            9

ðŸ”¹ Lendo provider de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\provider.csv.gz
O dataset 'provider' tem 40508 linhas.

  provider_id
0      P003F3
1      P005JG
2      P005MB
3      P00707
4      P009IB

ðŸ”¹ Lendo services de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\services.csv.gz
O dataset 'services' tem 319 linhas.

   subject_id   hadm_id         transfertime prev_service curr_service
0    10001725  25563031  2110-04-11 15:09:36          NaN          GYN
1    10019003  28003918  2148-12-21 03:32:53          NaN          GYN
2    10007818  22987108  2146-06-10 16:38:18          NaN          MED
3    10004235  24181354  2196-02-24 14:39:31          NaN          MED
4    10026255  22059910  2201-07-07 18:16:14          NaN          MED

ðŸ”¹ Lendo transfers de: ../documents/mimic-iv-clinical-database-demo-2.2/hosp\transfers.csv.gz
O dataset 'transfers' tem 1190 linhas.

,subject_id,hadm_id,transfer_id,eventtype,careunit,intime,outtime
0,10009049,22995465.0,30030230,discharge,NaN,2174-05-31 14:21:47,NaN
1,10025612,23403708.0,32533329,discharge,NaN,2125-10-03 12:25:27,NaN
2,10020786,23488445.0,37922399,discharge,NaN,2189-06-13 17:25:44,NaN
3,10014078,25809882.0,34694622,discharge,NaN,2166-08-26 14:49:42,NaN
4,10039831,26924951.0,37155928,discharge,NaN,2116-01-02 14:35:02,NaN

# Dataset ICU

In [3]:
base_path_icu = r"../documents/mimic-iv-clinical-database-demo-2.2/icu"

files_to_load_icu = {
    "caregiver": "caregiver.csv.gz",
    "chartevents": "chartevents.csv.gz",
    "d_items": "d_items.csv.gz",
    "datetimeevents": "datetimeevents.csv.gz",
    "icustays": "icustays.csv.gz",
    "ingredientevents": "ingredientevents.csv.gz",
    "inputevents": "inputevents.csv.gz",
    "outputevents": "outputevents.csv.gz",
    "procedureevents": "procedureevents.csv.gz",
}

for name, relative_path in files_to_load_icu.items():
    full_path = os.path.join(base_path_icu, relative_path)
    if os.path.exists(full_path):
        print(f"\nðŸ”¹ Lendo {name} de: {full_path}")
        df = pd.read_csv(full_path, compression='gzip', low_memory=False)
        globals()[name] = df
        print(f"O dataset '{name}' tem {len(df)} linhas.")
        display(df.head())
    else:
        print(f"Ficheiro nÃ£o encontrado: {full_path}")

ðŸ”¹ Lendo caregiver de: ../documents/mimic-iv-clinical-database-demo-2.2/icu\caregiver.csv.gz
O dataset 'caregiver' tem 15468 linhas.

   caregiver_id
0           444
1          1016
2          1135
3          1172
4          1353

ðŸ”¹ Lendo chartevents de: ../documents/mimic-iv-clinical-database-demo-2.2/icu\chartevents.csv.gz
O dataset 'chartevents' tem 668862 linhas.

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:45:00,225054,On,NaN,NaN,0.0
1,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:43:00,223769,100,100.0,%,0.0
2,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:47:00,223956,Atrial demand,NaN,NaN,0.0
3,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:47:00,224866,Yes,NaN,NaN,0.0
4,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:45:00,227341,No,0.0,NaN,0.0

ðŸ”¹ Lendo d_items de: ../documents/mimic-iv-clinical-database-demo-2.2/icu\d_items.csv.gz
O dataset 'd_items' tem 4014 linhas.

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,226228,Gender,Gender,chartevents,ADT,NaN,Text,NaN,NaN
1,226545,Race,Race,chartevents,ADT,NaN,Text,NaN,NaN
2,229877,Suction events (CH),Suction events (CH),chartevents,ECMO,NaN,Text,NaN,NaN
3,229875,Oxygenator visible (CH),Oxygenator visible (CH),chartevents,ECMO,NaN,Text,NaN,NaN
4,229266,Cannula sites visually inspected (ECMO),Cannula sites visually inspected (ECMO),chartevents,ECMO,NaN,Text,NaN,NaN

ðŸ”¹ Lendo datetimeevents de: ../documents/mimic-iv-clinical-database-demo-2.2/icu\datetimeevents.csv.gz
O dataset 'datetimeevents' tem 15280 linhas.

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valueuom,warning
0,10002428,23473524,35479615,29441,2156-05-15 10:50:00,2156-05-15 10:50:00,225343,2156-05-11 00:00:00,Date,0
1,10002428,23473524,35479615,29441,2156-05-15 10:50:00,2156-05-15 10:50:00,225348,2156-05-11 00:00:00,Date,0
2,10002428,23473524,35479615,29441,2156-05-15 10:50:00,2156-05-15 10:50:00,225345,2156-05-14 09:00:00,Date and Time,0
3,10002428,23473524,35479615,29441,2156-05-15 09:00:00,2156-05-15 10:51:00,224186,2156-05-15 09:00:00,Date and Time,0
4,10002428,23473524,35479615,29441,2156-05-15 09:00:00,2156-05-15 10:51:00,224187,2156-05-15 10:50:00,Date,0

ðŸ”¹ Lendo icustays de: ../documents/mimic-iv-clinical-database-demo-2.2/icu\icustays.csv.gz
O dataset 'icustays' tem 140 linhas.

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
0,10018328,23786647,31269608,Neuro Stepdown,Neuro Stepdown,2154-04-24 23:03:44,2154-05-02 15:55:21,7.702512
1,10020187,24104168,37509585,Neuro Surgical Intensive Care Unit (Neuro SICU),Neuro Stepdown,2169-01-15 04:56:00,2169-01-20 15:47:50,5.452662
2,10020187,26842957,32554129,Neuro Intermediate,Neuro Intermediate,2170-02-24 18:18:46,2170-02-25 15:15:26,0.872685
3,10012853,27882036,31338022,Trauma SICU (TSICU),Trauma SICU (TSICU),2176-11-26 02:34:49,2176-11-29 20:58:54,3.766725
4,10020740,25826145,32145159,Trauma SICU (TSICU),Trauma SICU (TSICU),2150-06-03 20:12:32,2150-06-04 21:05:58,1.037106

ðŸ”¹ Lendo ingredientevents de: ../documents/mimic-iv-clinical-database-demo-2.2/icu\ingredientevents.csv.gz
O dataset 'ingredientevents' tem 25728 linhas.

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,amount,amountuom,rate,rateuom,orderid,linkorderid,statusdescription,originalamount,originalrate
0,10005817,20626031,32604416,4793,2132-12-17 05:00:00,2132-12-17 06:00:00,2132-12-17 06:01:00,227074,49.999999,ml,50.000000,mL/hour,7330951,7330951,FinishedRunning,0,50.000000
1,10005817,20626031,32604416,4793,2132-12-17 05:00:00,2132-12-17 06:00:00,2132-12-17 06:01:00,220490,49.999999,ml,50.000000,mL/hour,7330951,7330951,FinishedRunning,0,50.000000
2,10005817,20626031,32604416,20310,2132-12-17 12:00:00,2132-12-17 13:00:00,2132-12-17 12:48:00,220490,249.999990,ml,249.999985,mL/hour,5334154,5334154,FinishedRunning,0,250.000000
3,10005817,20626031,32604416,20310,2132-12-17 12:00:00,2132-12-17 13:00:00,2132-12-17 12:48:00,226509,249.999990,ml,249.999985,mL/hour,5334154,5334154,FinishedRunning,0,250.000000
4,10005817,20626031,32604416,92805,2132-12-15 16:35:00,2132-12-15 18:00:00,2132-12-15 16:42:00,220490,38.852669,ml,27.425413,mL/hour,1386365,3042892,ChangeDose/Rate,0,47.080292

ðŸ”¹ Lendo inputevents de: ../documents/mimic-iv-clinical-database-demo-2.2/icu\inputevents.csv.gz
O dataset 'inputevents' tem 20404 linhas.

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,amount,amountuom,...,ordercomponenttypedescription,ordercategorydescription,patientweight,totalamount,totalamountuom,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate
0,10005817,20626031,32604416,4793,2132-12-16 19:50:00,2132-12-16 19:51:00,2132-12-16 19:50:00,225798,1.0,dose,...,Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.000000
1,10005817,20626031,32604416,92805,2132-12-15 20:15:00,2132-12-15 20:16:00,2132-12-15 20:11:00,225798,1.0,dose,...,Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.000000
2,10005817,20626031,32604416,20310,2132-12-17 09:15:00,2132-12-17 09:16:00,2132-12-17 09:28:00,225798,1.0,dose,...,Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.000000
3,10005817,20626031,32604416,79166,2132-12-16 09:36:00,2132-12-16 09:37:00,2132-12-16 09:37:00,225798,1.0,dose,...,Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.000000
4,10005817,20626031,32604416,92805,2132-12-15 20:10:00,2132-12-15 21:10:00,2132-12-15 20:10:00,221456,2.0,grams,...,Additives ...,Continuous IV,91.0,100.0,ml,0,0,FinishedRunning,2.0,0.033333

ðŸ”¹ Lendo outputevents de: ../documents/mimic-iv-clinical-database-demo-2.2/icu\outputevents.csv.gz
O dataset 'outputevents' tem 9362 linhas.

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valueuom
0,10002428,23473524,35479615,29441,2156-05-15 18:00:00,2156-05-15 17:42:00,226583,600,ml
1,10002428,23473524,35479615,29441,2156-05-15 12:00:00,2156-05-15 12:08:00,226559,60,ml
2,10002428,23473524,35479615,29441,2156-05-15 13:00:00,2156-05-15 13:00:00,226559,45,ml
3,10002428,23473524,35479615,29441,2156-05-15 08:00:00,2156-05-15 08:39:00,226559,125,ml
4,10002428,23473524,35479615,29441,2156-05-15 14:00:00,2156-05-15 13:56:00,226559,60,ml

ðŸ”¹ Lendo procedureevents de: ../documents/mimic-iv-clinical-database-demo-2.2/icu\procedureevents.csv.gz
O dataset 'procedureevents' tem 1468 linhas.

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,value,valueuom,...,orderid,linkorderid,ordercategoryname,ordercategorydescription,patientweight,isopenbag,continueinnextdept,statusdescription,ORIGINALAMOUNT,ORIGINALRATE
0,10027445,26275841,34499716,10712.0,2142-07-31 01:54:00,2142-08-02 10:44:00,2142-08-02 10:44:00,225792,3410.0,min,...,532221,532221,Ventilation,ContinuousProcess,103.0,1,0,FinishedRunning,3410.0,1
1,10027445,26275841,34499716,80518.0,2142-07-31 08:18:00,2142-08-03 15:10:00,2142-08-03 15:23:00,224263,4732.0,min,...,401769,401769,Invasive Lines,ContinuousProcess,103.0,1,0,FinishedRunning,4732.0,1
2,10027445,26275841,34499716,96407.0,2142-07-31 06:00:00,2142-08-03 06:03:00,2142-08-03 08:16:00,224275,4323.0,min,...,9714245,9714245,Peripheral Lines,ContinuousProcess,103.0,1,0,FinishedRunning,4323.0,1
3,10027445,26275841,34499716,96407.0,2142-07-31 02:00:00,2142-08-03 05:57:00,2142-08-03 08:15:00,224275,4557.0,min,...,2870557,2870557,Peripheral Lines,ContinuousProcess,103.0,1,0,FinishedRunning,4557.0,1
4,10027445,26275841,34499716,NaN,2142-08-03 08:00:00,2142-08-03 21:06:00,2142-08-03 21:06:00.090,224277,786.0,min,...,4920092,4920092,Peripheral Lines,ContinuousProcess,103.0,1,0,FinishedRunning,786.0,1

# Rename + Profiling

## Patients

In [4]:
patients = patients.rename(columns={"dod": "dod (day of death)"})
display(patients)

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod (day of death)
0,10014729,F,21,2125,2011 - 2013,NaN
1,10003400,F,72,2134,2011 - 2013,2137-09-02
2,10002428,F,80,2155,2011 - 2013,NaN
3,10032725,F,38,2143,2011 - 2013,2143-03-30
4,10027445,F,48,2142,2011 - 2013,2146-02-09
...,...,...,...,...,...,...
95,10004733,M,51,2174,2014 - 2016,NaN
96,10021118,M,62,2161,2014 - 2016,NaN
97,10018501,M,83,2141,2014 - 2016,NaN
98,10007058,M,48,2167,2014 - 2016,NaN
99,10038992,M,70,2185,2014 - 2016,NaN

## admissions

In [5]:
admissions = admissions.rename(columns={"edregtime": "ED_register_time", "edouttime": "ED_out_time"})
display(admissions)

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,ED_register_time,ED_out_time,hospital_expire_flag
0,10004235,24181354,2196-02-24 14:38:00,2196-03-04 14:02:00,NaN,URGENT,P03YMR,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,2196-02-24 12:15:00,2196-02-24 17:07:00,0
1,10009628,25926192,2153-09-17 17:08:00,2153-09-25 13:20:00,NaN,URGENT,P41R5N,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,?,MARRIED,HISPANIC/LATINO - PUERTO RICAN,NaN,NaN,0
2,10018081,23983182,2134-08-18 02:02:00,2134-08-23 19:35:00,NaN,URGENT,P233F6,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,MARRIED,WHITE,2134-08-17 16:24:00,2134-08-18 03:15:00,0
3,10006053,22942076,2111-11-13 23:39:00,2111-11-15 17:20:00,2111-11-15 17:20:00,URGENT,P38TI6,TRANSFER FROM HOSPITAL,DIED,Medicaid,ENGLISH,NaN,UNKNOWN,NaN,NaN,1
4,10031404,21606243,2113-08-04 18:46:00,2113-08-06 20:57:00,NaN,URGENT,P07HDB,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,10038992,24745425,2187-07-29 01:05:00,2187-08-03 17:02:00,NaN,SURGICAL SAME DAY ADMISSION,P41R5N,PHYSICIAN REFERRAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,MARRIED,WHITE,NaN,NaN,0
271,10008287,22168393,2145-09-28 01:17:00,2145-10-02 13:35:00,NaN,SURGICAL SAME DAY ADMISSION,P898NM,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,ENGLISH,SINGLE,WHITE,NaN,NaN,0
272,10022880,27708593,2177-03-12 07:15:00,2177-03-19 14:25:00,NaN,SURGICAL SAME DAY ADMISSION,P99698,PHYSICIAN REFERRAL,HOME,Medicare,ENGLISH,MARRIED,WHITE,NaN,NaN,0
273,10004457,23251352,2141-12-17 11:00:00,2141-12-21 15:56:00,NaN,SURGICAL SAME DAY ADMISSION,P41R5N,PHYSICIAN REFERRAL,REHAB,Medicare,ENGLISH,SINGLE,OTHER,NaN,NaN,0
274,10004457,28108313,2147-12-19 00:00:00,2147-12-21 16:10:00,NaN,SURGICAL SAME DAY ADMISSION,P10WWR,PHYSICIAN REFERRAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,DIVORCED,WHITE,NaN,NaN,0

## diagnoses_icd.csv.gz

In [6]:
diagnoses_icd = diagnoses_icd.rename(columns={"hospitalization_adm_is": "hospitalization_adm_id"})
display(diagnoses_icd)

      subject_id   hadm_id  seq_num icd_code  icd_version
0       10035185  22580999        3     4139            9
1       10035185  22580999       10     V707            9
2       10035185  22580999        1    41401            9
3       10035185  22580999        9     3899            9
4       10035185  22580999       11    V8532            9
...          ...       ...      ...      ...          ...
4501    10004733  27411876       19     3129            9
4502    10004733  27411876       30    30000            9
4503    10004733  27411876       26     4739            9
4504    10004733  27411876       22    56210            9
4505    10004733  27411876       29    30390            9

[4506 rows x 5 columns]

## prescriptions

In [7]:
prescriptions.drop(['form_rx'],  axis=1)

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,formulary_drug_cd,gsn,ndc,prod_strength,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
0,10027602,28166872,27168639,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Fentanyl Citrate,FENT2I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10027602,28166872,40720238,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Fentanyl Citrate,FENT2I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10027602,28166872,62845687,NaN,NaN,NaN,2201-10-31 12:00:00,NaN,MAIN,Lorazepam,LORA2I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10027602,28166872,24340150,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Midazolam,MIDA2I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10027602,28166872,14435820,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Midazolam,MIDA2I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18082,10038081,20755971,33730068,10038081-378,378.0,P92KOD,2115-10-11 14:00:00,2115-10-13 07:00:00,MAIN,Artificial Tears,REFRESH,030016,2.305060e+07,0.4 mL DROPPERETTE,1-2,DROP,0.1667-0.3333,DRP,NaN,BOTH EYES
18083,10002428,23473524,87358294,10002428-780,780.0,P71IN4,2156-05-12 13:00:00,2156-05-22 18:00:00,MAIN,Artificial Tears,REFRESH,030016,2.305060e+07,0.3mL UD,1-2,DROP,0.1667-0.3333,DRP,NaN,BOTH EYES
18084,10040025,27996267,81941017,10040025-1640,1640.0,P52ORO,2148-01-26 19:00:00,2148-01-26 18:00:00,MAIN,OxyCODONE (Immediate Release),OXYIR15,046474,9.046446e+08,15mg Tablet,5-10,mg,0.3333-0.6667,TAB,NaN,PO/NG
18085,10014354,26228185,46019806,10014354-3105,3105.0,P748G6,2150-05-01 01:00:00,2150-05-01 09:00:00,MAIN,Carbamide Peroxide 6.5%,GLYO65OT,008120,7.811207e+10,15mL Bottle,5-10,DROP,0.3333-0.6667,BTL,1.0,BOTH EARS
18086,10004457,25559382,44047546,10004457-443,443.0,P65SRP,2148-09-14 17:00:00,2148-09-15 17:00:00,MAIN,Acetaminophen,ACET650L,065758,1.211971e+08,650mg UD Cup,500-1000,mg,0.7692-1.5385,UDCUP,NaN,PO/NG

# Merge

## ICD Codes

In [8]:
icd_merged = d_icd_diagnoses.merge(
    diagnoses_icd,
    on=['icd_code', 'icd_version'],
    how='right'
)

## Most current deseases

In [9]:
top_diagnoses = icd_merged['icd_code'].value_counts().nlargest(15).index
diagnoses_top = icd_merged[icd_merged['icd_code'].isin(top_diagnoses)]

In [10]:
df = diagnoses_top.merge(
    admissions[['hadm_id', 'subject_id', 'admittime', 'admission_type', 
         'insurance', 'language', 'race', 'marital_status', 'discharge_location', 'admission_location', 'dischtime', 'deathtime', 'ED_register_time', 'ED_out_time']],
    on='hadm_id',
    how='left'
)

df = df.drop(['subject_id_y'],  axis=1)
df = df.rename(columns={"subject_id_x": "subject_id"})

display(df)

,icd_code,icd_version,long_title,subject_id,hadm_id,seq_num,admittime,admission_type,insurance,language,race,marital_status,discharge_location,admission_location,dischtime,deathtime,ED_register_time,ED_out_time
0,41401,9,Coronary atherosclerosis of native coronary ar...,10035185,22580999,1,2120-05-12 12:53:00,URGENT,Other,ENGLISH,WHITE,MARRIED,HOME HEALTH CARE,TRANSFER FROM HOSPITAL,2120-05-17 16:00:00,NaN,NaN,NaN
1,2724,9,Other and unspecified hyperlipidemia,10035185,22580999,4,2120-05-12 12:53:00,URGENT,Other,ENGLISH,WHITE,MARRIED,HOME HEALTH CARE,TRANSFER FROM HOSPITAL,2120-05-17 16:00:00,NaN,NaN,NaN
2,4019,9,Unspecified essential hypertension,10018501,28479513,7,2141-07-30 22:34:00,EW EMER.,Medicare,ENGLISH,WHITE,NaN,SKILLED NURSING FACILITY,EMERGENCY ROOM,2141-08-05 18:06:00,NaN,2141-07-30 18:53:00,2141-07-31 00:01:00
3,4019,9,Unspecified essential hypertension,10001217,24597018,8,2157-11-18 22:56:00,EW EMER.,Other,?,WHITE,MARRIED,HOME HEALTH CARE,EMERGENCY ROOM,2157-11-25 18:00:00,NaN,2157-11-18 17:38:00,2157-11-19 01:24:00
4,4019,9,Unspecified essential hypertension,10023771,20044587,6,2113-08-25 07:15:00,ELECTIVE,Medicare,ENGLISH,WHITE,MARRIED,SKILLED NURSING FACILITY,PHYSICIAN REFERRAL,2113-08-30 14:15:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,4019,9,Unspecified essential hypertension,10002428,28676446,3,2157-07-16 04:09:00,EU OBSERVATION,Medicare,ENGLISH,WHITE,WIDOWED,NaN,EMERGENCY ROOM,2157-07-18 16:49:00,NaN,2157-07-16 01:50:00,2157-07-16 09:51:00
579,2724,9,Other and unspecified hyperlipidemia,10002428,28676446,7,2157-07-16 04:09:00,EU OBSERVATION,Medicare,ENGLISH,WHITE,WIDOWED,NaN,EMERGENCY ROOM,2157-07-18 16:49:00,NaN,2157-07-16 01:50:00,2157-07-16 09:51:00
580,4019,9,Unspecified essential hypertension,10002428,23473524,15,2156-05-11 14:49:00,EW EMER.,Medicare,ENGLISH,WHITE,WIDOWED,CHRONIC/LONG TERM ACUTE CARE,EMERGENCY ROOM,2156-05-22 14:16:00,NaN,2156-05-11 11:29:00,2156-05-11 16:53:00
581,4019,9,Unspecified essential hypertension,10002428,25797028,7,2155-07-14 19:15:00,EU OBSERVATION,Medicare,ENGLISH,WHITE,WIDOWED,NaN,EMERGENCY ROOM,2155-07-15 18:37:00,NaN,2155-07-14 16:58:00,2155-07-14 20:04:00
582,4019,9,Unspecified essential hypertension,10002428,28662225,19,2156-04-12 14:16:00,EW EMER.,Medicare,ENGLISH,WHITE,WIDOWED,SKILLED NURSING FACILITY,EMERGENCY ROOM,2156-04-29 16:26:00,NaN,2156-04-12 09:56:00,2156-04-12 17:11:00

## merge: df + pacientes

In [11]:
df_final = df.merge(
    patients[['subject_id', 'anchor_age', 'dod (day of death)', 'anchor_year', 'anchor_year_group']],
    on='subject_id',
    how='left'
)

display(df_final)

,icd_code,icd_version,long_title,subject_id,hadm_id,seq_num,admittime,admission_type,insurance,language,...,discharge_location,admission_location,dischtime,deathtime,ED_register_time,ED_out_time,anchor_age,dod (day of death),anchor_year,anchor_year_group
0,41401,9,Coronary atherosclerosis of native coronary ar...,10035185,22580999,1,2120-05-12 12:53:00,URGENT,Other,ENGLISH,...,HOME HEALTH CARE,TRANSFER FROM HOSPITAL,2120-05-17 16:00:00,NaN,NaN,NaN,70,NaN,2120,2014 - 2016
1,2724,9,Other and unspecified hyperlipidemia,10035185,22580999,4,2120-05-12 12:53:00,URGENT,Other,ENGLISH,...,HOME HEALTH CARE,TRANSFER FROM HOSPITAL,2120-05-17 16:00:00,NaN,NaN,NaN,70,NaN,2120,2014 - 2016
2,4019,9,Unspecified essential hypertension,10018501,28479513,7,2141-07-30 22:34:00,EW EMER.,Medicare,ENGLISH,...,SKILLED NURSING FACILITY,EMERGENCY ROOM,2141-08-05 18:06:00,NaN,2141-07-30 18:53:00,2141-07-31 00:01:00,83,NaN,2141,2014 - 2016
3,4019,9,Unspecified essential hypertension,10001217,24597018,8,2157-11-18 22:56:00,EW EMER.,Other,?,...,HOME HEALTH CARE,EMERGENCY ROOM,2157-11-25 18:00:00,NaN,2157-11-18 17:38:00,2157-11-19 01:24:00,55,NaN,2157,2011 - 2013
4,4019,9,Unspecified essential hypertension,10023771,20044587,6,2113-08-25 07:15:00,ELECTIVE,Medicare,ENGLISH,...,SKILLED NURSING FACILITY,PHYSICIAN REFERRAL,2113-08-30 14:15:00,NaN,NaN,NaN,70,NaN,2113,2011 - 2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,4019,9,Unspecified essential hypertension,10002428,28676446,3,2157-07-16 04:09:00,EU OBSERVATION,Medicare,ENGLISH,...,NaN,EMERGENCY ROOM,2157-07-18 16:49:00,NaN,2157-07-16 01:50:00,2157-07-16 09:51:00,80,NaN,2155,2011 - 2013
579,2724,9,Other and unspecified hyperlipidemia,10002428,28676446,7,2157-07-16 04:09:00,EU OBSERVATION,Medicare,ENGLISH,...,NaN,EMERGENCY ROOM,2157-07-18 16:49:00,NaN,2157-07-16 01:50:00,2157-07-16 09:51:00,80,NaN,2155,2011 - 2013
580,4019,9,Unspecified essential hypertension,10002428,23473524,15,2156-05-11 14:49:00,EW EMER.,Medicare,ENGLISH,...,CHRONIC/LONG TERM ACUTE CARE,EMERGENCY ROOM,2156-05-22 14:16:00,NaN,2156-05-11 11:29:00,2156-05-11 16:53:00,80,NaN,2155,2011 - 2013
581,4019,9,Unspecified essential hypertension,10002428,25797028,7,2155-07-14 19:15:00,EU OBSERVATION,Medicare,ENGLISH,...,NaN,EMERGENCY ROOM,2155-07-15 18:37:00,NaN,2155-07-14 16:58:00,2155-07-14 20:04:00,80,NaN,2155,2011 - 2013
582,4019,9,Unspecified essential hypertension,10002428,28662225,19,2156-04-12 14:16:00,EW EMER.,Medicare,ENGLISH,...,SKILLED NURSING FACILITY,EMERGENCY ROOM,2156-04-29 16:26:00,NaN,2156-04-12 09:56:00,2156-04-12 17:11:00,80,NaN,2155,2011 - 2013

### calculates the age, anchor age is a age in a fix year, not the real age of entry

In [12]:
df_final['admittime'] = pd.to_datetime(df['admittime'])
df_final['admit_year'] = df_final['admittime'].dt.year
df_final['age'] = df_final['anchor_age'] - (df_final['anchor_year'] - df_final['admit_year'])
display(df_final)

,icd_code,icd_version,long_title,subject_id,hadm_id,seq_num,admittime,admission_type,insurance,language,...,dischtime,deathtime,ED_register_time,ED_out_time,anchor_age,dod (day of death),anchor_year,anchor_year_group,admit_year,age
0,41401,9,Coronary atherosclerosis of native coronary ar...,10035185,22580999,1,2120-05-12 12:53:00,URGENT,Other,ENGLISH,...,2120-05-17 16:00:00,NaN,NaN,NaN,70,NaN,2120,2014 - 2016,2120,70
1,2724,9,Other and unspecified hyperlipidemia,10035185,22580999,4,2120-05-12 12:53:00,URGENT,Other,ENGLISH,...,2120-05-17 16:00:00,NaN,NaN,NaN,70,NaN,2120,2014 - 2016,2120,70
2,4019,9,Unspecified essential hypertension,10018501,28479513,7,2141-07-30 22:34:00,EW EMER.,Medicare,ENGLISH,...,2141-08-05 18:06:00,NaN,2141-07-30 18:53:00,2141-07-31 00:01:00,83,NaN,2141,2014 - 2016,2141,83
3,4019,9,Unspecified essential hypertension,10001217,24597018,8,2157-11-18 22:56:00,EW EMER.,Other,?,...,2157-11-25 18:00:00,NaN,2157-11-18 17:38:00,2157-11-19 01:24:00,55,NaN,2157,2011 - 2013,2157,55
4,4019,9,Unspecified essential hypertension,10023771,20044587,6,2113-08-25 07:15:00,ELECTIVE,Medicare,ENGLISH,...,2113-08-30 14:15:00,NaN,NaN,NaN,70,NaN,2113,2011 - 2013,2113,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,4019,9,Unspecified essential hypertension,10002428,28676446,3,2157-07-16 04:09:00,EU OBSERVATION,Medicare,ENGLISH,...,2157-07-18 16:49:00,NaN,2157-07-16 01:50:00,2157-07-16 09:51:00,80,NaN,2155,2011 - 2013,2157,82
579,2724,9,Other and unspecified hyperlipidemia,10002428,28676446,7,2157-07-16 04:09:00,EU OBSERVATION,Medicare,ENGLISH,...,2157-07-18 16:49:00,NaN,2157-07-16 01:50:00,2157-07-16 09:51:00,80,NaN,2155,2011 - 2013,2157,82
580,4019,9,Unspecified essential hypertension,10002428,23473524,15,2156-05-11 14:49:00,EW EMER.,Medicare,ENGLISH,...,2156-05-22 14:16:00,NaN,2156-05-11 11:29:00,2156-05-11 16:53:00,80,NaN,2155,2011 - 2013,2156,81
581,4019,9,Unspecified essential hypertension,10002428,25797028,7,2155-07-14 19:15:00,EU OBSERVATION,Medicare,ENGLISH,...,2155-07-15 18:37:00,NaN,2155-07-14 16:58:00,2155-07-14 20:04:00,80,NaN,2155,2011 - 2013,2155,80
582,4019,9,Unspecified essential hypertension,10002428,28662225,19,2156-04-12 14:16:00,EW EMER.,Medicare,ENGLISH,...,2156-04-29 16:26:00,NaN,2156-04-12 09:56:00,2156-04-12 17:11:00,80,NaN,2155,2011 - 2013,2156,81

In [13]:
pd.set_option('display.max_columns', None)
df_final

,icd_code,icd_version,long_title,subject_id,hadm_id,seq_num,admittime,admission_type,insurance,language,race,marital_status,discharge_location,admission_location,dischtime,deathtime,ED_register_time,ED_out_time,anchor_age,dod (day of death),anchor_year,anchor_year_group,admit_year,age
0,41401,9,Coronary atherosclerosis of native coronary ar...,10035185,22580999,1,2120-05-12 12:53:00,URGENT,Other,ENGLISH,WHITE,MARRIED,HOME HEALTH CARE,TRANSFER FROM HOSPITAL,2120-05-17 16:00:00,NaN,NaN,NaN,70,NaN,2120,2014 - 2016,2120,70
1,2724,9,Other and unspecified hyperlipidemia,10035185,22580999,4,2120-05-12 12:53:00,URGENT,Other,ENGLISH,WHITE,MARRIED,HOME HEALTH CARE,TRANSFER FROM HOSPITAL,2120-05-17 16:00:00,NaN,NaN,NaN,70,NaN,2120,2014 - 2016,2120,70
2,4019,9,Unspecified essential hypertension,10018501,28479513,7,2141-07-30 22:34:00,EW EMER.,Medicare,ENGLISH,WHITE,NaN,SKILLED NURSING FACILITY,EMERGENCY ROOM,2141-08-05 18:06:00,NaN,2141-07-30 18:53:00,2141-07-31 00:01:00,83,NaN,2141,2014 - 2016,2141,83
3,4019,9,Unspecified essential hypertension,10001217,24597018,8,2157-11-18 22:56:00,EW EMER.,Other,?,WHITE,MARRIED,HOME HEALTH CARE,EMERGENCY ROOM,2157-11-25 18:00:00,NaN,2157-11-18 17:38:00,2157-11-19 01:24:00,55,NaN,2157,2011 - 2013,2157,55
4,4019,9,Unspecified essential hypertension,10023771,20044587,6,2113-08-25 07:15:00,ELECTIVE,Medicare,ENGLISH,WHITE,MARRIED,SKILLED NURSING FACILITY,PHYSICIAN REFERRAL,2113-08-30 14:15:00,NaN,NaN,NaN,70,NaN,2113,2011 - 2013,2113,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,4019,9,Unspecified essential hypertension,10002428,28676446,3,2157-07-16 04:09:00,EU OBSERVATION,Medicare,ENGLISH,WHITE,WIDOWED,NaN,EMERGENCY ROOM,2157-07-18 16:49:00,NaN,2157-07-16 01:50:00,2157-07-16 09:51:00,80,NaN,2155,2011 - 2013,2157,82
579,2724,9,Other and unspecified hyperlipidemia,10002428,28676446,7,2157-07-16 04:09:00,EU OBSERVATION,Medicare,ENGLISH,WHITE,WIDOWED,NaN,EMERGENCY ROOM,2157-07-18 16:49:00,NaN,2157-07-16 01:50:00,2157-07-16 09:51:00,80,NaN,2155,2011 - 2013,2157,82
580,4019,9,Unspecified essential hypertension,10002428,23473524,15,2156-05-11 14:49:00,EW EMER.,Medicare,ENGLISH,WHITE,WIDOWED,CHRONIC/LONG TERM ACUTE CARE,EMERGENCY ROOM,2156-05-22 14:16:00,NaN,2156-05-11 11:29:00,2156-05-11 16:53:00,80,NaN,2155,2011 - 2013,2156,81
581,4019,9,Unspecified essential hypertension,10002428,25797028,7,2155-07-14 19:15:00,EU OBSERVATION,Medicare,ENGLISH,WHITE,WIDOWED,NaN,EMERGENCY ROOM,2155-07-15 18:37:00,NaN,2155-07-14 16:58:00,2155-07-14 20:04:00,80,NaN,2155,2011 - 2013,2155,80
582,4019,9,Unspecified essential hypertension,10002428,28662225,19,2156-04-12 14:16:00,EW EMER.,Medicare,ENGLISH,WHITE,WIDOWED,SKILLED NURSING FACILITY,EMERGENCY ROOM,2156-04-29 16:26:00,NaN,2156-04-12 09:56:00,2156-04-12 17:11:00,80,NaN,2155,2011 - 2013,2156,81

In [14]:
# drops

df_final = df_final.drop([
    'icd_version', 'long_title', 'hadm_id', 'insurance',
    'language', 'marital_status',
    'dischtime', 'dod (day of death)',
    'ED_register_time', 'ED_out_time',
    'anchor_year', 'anchor_year_group', 'admit_year'
], axis=1)

In [17]:
import matplotlib.pyplot as plt
'''
correlation_matrix = df_final.corr()
plt.figure(figsize=(8, 6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5)

plt.title('Correlation Matrix Heatmap')
plt.show()'''

"\ncorrelation_matrix = df_final.corr()\nplt.figure(figsize=(8, 6))\nsns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5)\n\nplt.title('Correlation Matrix Heatmap')\nplt.show()"

## Clinical Variables

In [18]:
base_path = r"../documents/mimic-iv-clinical-database-demo-2.2"
files_to_load = {
    "labevents": "hosp/labevents.csv.gz",
    "chartevents": "icu/chartevents.csv.gz",
    "d_items": "icu/d_items.csv.gz",
    "inputevents": "icu/inputevents.csv.gz",
    "outputevents": "icu/outputevents.csv.gz"
}

for name, relative_path in files_to_load.items():
    full_path = os.path.join(base_path, relative_path)
    if os.path.exists(full_path):
        print(f"\nðŸ”¹ Lendo {name} de: {full_path}")
        df = pd.read_csv(full_path, compression='gzip', low_memory=False)
        globals()[name] = df
        display(df.head())
    else:
        print(f"Ficheiro nÃ£o encontrado: {full_path}")

ðŸ”¹ Lendo labevents de: ../documents/mimic-iv-clinical-database-demo-2.2\hosp/labevents.csv.gz

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,172061,10014354,29600294.0,1808066,51277,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,15.4,15.40,%,10.5,15.5,NaN,ROUTINE,NaN
1,172062,10014354,29600294.0,1808066,51279,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,3.35,3.35,m/uL,4.6,6.1,abnormal,ROUTINE,NaN
2,172068,10014354,29600294.0,1808066,52172,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,49.7,49.70,fL,35.1,46.3,abnormal,ROUTINE,NaN
3,172063,10014354,29600294.0,1808066,51301,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,20.3,20.30,K/uL,4.0,10.0,abnormal,ROUTINE,NaN
4,172050,10014354,29600294.0,1808066,51249,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,31.1,31.10,g/dL,32.0,37.0,abnormal,ROUTINE,NaN

ðŸ”¹ Lendo chartevents de: ../documents/mimic-iv-clinical-database-demo-2.2\icu/chartevents.csv.gz

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:45:00,225054,On,NaN,NaN,0.0
1,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:43:00,223769,100,100.0,%,0.0
2,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:47:00,223956,Atrial demand,NaN,NaN,0.0
3,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:47:00,224866,Yes,NaN,NaN,0.0
4,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:45:00,227341,No,0.0,NaN,0.0

ðŸ”¹ Lendo d_items de: ../documents/mimic-iv-clinical-database-demo-2.2\icu/d_items.csv.gz

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,226228,Gender,Gender,chartevents,ADT,NaN,Text,NaN,NaN
1,226545,Race,Race,chartevents,ADT,NaN,Text,NaN,NaN
2,229877,Suction events (CH),Suction events (CH),chartevents,ECMO,NaN,Text,NaN,NaN
3,229875,Oxygenator visible (CH),Oxygenator visible (CH),chartevents,ECMO,NaN,Text,NaN,NaN
4,229266,Cannula sites visually inspected (ECMO),Cannula sites visually inspected (ECMO),chartevents,ECMO,NaN,Text,NaN,NaN

ðŸ”¹ Lendo inputevents de: ../documents/mimic-iv-clinical-database-demo-2.2\icu/inputevents.csv.gz

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,amount,amountuom,rate,rateuom,orderid,linkorderid,ordercategoryname,secondaryordercategoryname,ordercomponenttypedescription,ordercategorydescription,patientweight,totalamount,totalamountuom,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate
0,10005817,20626031,32604416,4793,2132-12-16 19:50:00,2132-12-16 19:51:00,2132-12-16 19:50:00,225798,1.0,dose,NaN,NaN,3316866,3316866,08-Antibiotics (IV),02-Fluids (Crystalloids),Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.000000
1,10005817,20626031,32604416,92805,2132-12-15 20:15:00,2132-12-15 20:16:00,2132-12-15 20:11:00,225798,1.0,dose,NaN,NaN,8515923,8515923,08-Antibiotics (IV),02-Fluids (Crystalloids),Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.000000
2,10005817,20626031,32604416,20310,2132-12-17 09:15:00,2132-12-17 09:16:00,2132-12-17 09:28:00,225798,1.0,dose,NaN,NaN,8912103,8912103,08-Antibiotics (IV),02-Fluids (Crystalloids),Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.000000
3,10005817,20626031,32604416,79166,2132-12-16 09:36:00,2132-12-16 09:37:00,2132-12-16 09:37:00,225798,1.0,dose,NaN,NaN,4059842,4059842,08-Antibiotics (IV),02-Fluids (Crystalloids),Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.0,1.000000
4,10005817,20626031,32604416,92805,2132-12-15 20:10:00,2132-12-15 21:10:00,2132-12-15 20:10:00,221456,2.0,grams,NaN,NaN,6323189,6323189,02-Fluids (Crystalloids),Additive (Crystalloid),Additives ...,Continuous IV,91.0,100.0,ml,0,0,FinishedRunning,2.0,0.033333

ðŸ”¹ Lendo outputevents de: ../documents/mimic-iv-clinical-database-demo-2.2\icu/outputevents.csv.gz

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valueuom
0,10002428,23473524,35479615,29441,2156-05-15 18:00:00,2156-05-15 17:42:00,226583,600,ml
1,10002428,23473524,35479615,29441,2156-05-15 12:00:00,2156-05-15 12:08:00,226559,60,ml
2,10002428,23473524,35479615,29441,2156-05-15 13:00:00,2156-05-15 13:00:00,226559,45,ml
3,10002428,23473524,35479615,29441,2156-05-15 08:00:00,2156-05-15 08:39:00,226559,125,ml
4,10002428,23473524,35479615,29441,2156-05-15 14:00:00,2156-05-15 13:56:00,226559,60,ml

### 24 hour signal

In [19]:
print(chartevents.columns)
print(labevents.columns)

Index(['subject_id', 'hadm_id', 'stay_id', 'caregiver_id', 'charttime',
       'storetime', 'itemid', 'value', 'valuenum', 'valueuom', 'warning'],
      dtype='object')
Index(['labevent_id', 'subject_id', 'hadm_id', 'specimen_id', 'itemid',
       'order_provider_id', 'charttime', 'storetime', 'value', 'valuenum',
       'valueuom', 'ref_range_lower', 'ref_range_upper', 'flag', 'priority',
       'comments'],
      dtype='object')

In [20]:
chartevents['charttime'] = pd.to_datetime(chartevents['charttime'])
df_final['admittime'] = pd.to_datetime(df_final['admittime'])

In [21]:
chartevents = chartevents[['subject_id', 'hadm_id', 'itemid', 'charttime', 'value', 'valuenum', 'valueuom']]

In [22]:
d_labitems = pd.read_csv("..\documents\mimic-iv-clinical-database-demo-2.2\icu\d_items.csv.gz")

In [23]:
display(d_labitems)

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,226228,Gender,Gender,chartevents,ADT,NaN,Text,NaN,NaN
1,226545,Race,Race,chartevents,ADT,NaN,Text,NaN,NaN
2,229877,Suction events (CH),Suction events (CH),chartevents,ECMO,NaN,Text,NaN,NaN
3,229875,Oxygenator visible (CH),Oxygenator visible (CH),chartevents,ECMO,NaN,Text,NaN,NaN
4,229266,Cannula sites visually inspected (ECMO),Cannula sites visually inspected (ECMO),chartevents,ECMO,NaN,Text,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4009,227452,Tobramycin (Trough),Tobramycin (Trough),chartevents,Labs,NaN,Numeric with tag,NaN,NaN
4010,227451,Tobramycin (Random),Tobramycin (Random),chartevents,Labs,NaN,Numeric with tag,NaN,NaN
4011,227457,Platelet Count,Platelet Count,chartevents,Labs,NaN,Numeric with tag,NaN,NaN
4012,227468,Fibrinogen,Fibrinogen,chartevents,Labs,NaN,Numeric with tag,NaN,NaN
4013,227463,Cortisol,Cortisol,chartevents,Labs,NaN,Numeric with tag,NaN,NaN

In [24]:
display(d_items)

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,226228,Gender,Gender,chartevents,ADT,NaN,Text,NaN,NaN
1,226545,Race,Race,chartevents,ADT,NaN,Text,NaN,NaN
2,229877,Suction events (CH),Suction events (CH),chartevents,ECMO,NaN,Text,NaN,NaN
3,229875,Oxygenator visible (CH),Oxygenator visible (CH),chartevents,ECMO,NaN,Text,NaN,NaN
4,229266,Cannula sites visually inspected (ECMO),Cannula sites visually inspected (ECMO),chartevents,ECMO,NaN,Text,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4009,227452,Tobramycin (Trough),Tobramycin (Trough),chartevents,Labs,NaN,Numeric with tag,NaN,NaN
4010,227451,Tobramycin (Random),Tobramycin (Random),chartevents,Labs,NaN,Numeric with tag,NaN,NaN
4011,227457,Platelet Count,Platelet Count,chartevents,Labs,NaN,Numeric with tag,NaN,NaN
4012,227468,Fibrinogen,Fibrinogen,chartevents,Labs,NaN,Numeric with tag,NaN,NaN
4013,227463,Cortisol,Cortisol,chartevents,Labs,NaN,Numeric with tag,NaN,NaN

In [25]:
chartevents = chartevents.merge(
    d_items[['itemid', 'label', 'category', 'unitname']],
    on='itemid',
    how='left'
)

In [26]:
display(chartevents)

,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,label,category,unitname
0,10005817,20626031,225054,2132-12-16 00:00:00,On,NaN,NaN,Anti Embolic Device Status,Treatments,NaN
1,10005817,20626031,223769,2132-12-16 00:00:00,100,100.0,%,O2 Saturation Pulseoxymetry Alarm - High,Alarms,%
2,10005817,20626031,223956,2132-12-16 00:00:00,Atrial demand,NaN,NaN,Temporary Pacemaker Mode,Cardiovascular (Pacer Data),NaN
3,10005817,20626031,224866,2132-12-16 00:00:00,Yes,NaN,NaN,Temporary Atrial Capture,Cardiovascular (Pacer Data),NaN
4,10005817,20626031,227341,2132-12-16 00:00:00,No,0.0,NaN,History of falling (within 3 mnths),Restraint/Support Systems,NaN
...,...,...,...,...,...,...,...,...,...,...
668857,10019003,29279905,220001,2153-03-28 10:49:28,.Care Plan - Infection,NaN,NaN,Problem List,General,NaN
668858,10019003,29279905,220001,2153-03-28 10:49:28,"Diabetes Mellitus (DM), Type II",NaN,NaN,Problem List,General,NaN
668859,10019003,29279905,220001,2153-03-28 10:49:28,.Care Plan - Coping,NaN,NaN,Problem List,General,NaN
668860,10019003,29279905,220001,2153-03-28 10:49:28,"Chronic obstructive pulmonary disease (COPD, B...",NaN,NaN,Problem List,General,NaN
668861,10019003,29279905,220001,2153-03-28 10:49:28,.Care Plan - Alteration in Bowel Elimination: ...,NaN,NaN,Problem List,General,NaN

In [27]:
print(chartevents.columns)

Index(['subject_id', 'hadm_id', 'itemid', 'charttime', 'value', 'valuenum',
       'valueuom', 'label', 'category', 'unitname'],
      dtype='object')

In [28]:
# ConversÃ£o para datetime
chartevents['charttime'] = pd.to_datetime(chartevents['charttime'])
admissions['admittime'] = pd.to_datetime(admissions['admittime'])

# JunÃ§Ã£o das tabelas
chartevents = chartevents.merge(
    admissions[['subject_id', 'hadm_id', 'admittime']],
    on=['subject_id', 'hadm_id'],
    how='left'
)

# Tempo desde a admissÃ£o (em horas)
chartevents['time_since_admission'] = (
    (chartevents['charttime'] - chartevents['admittime']).dt.total_seconds() / 3600
)

# VariÃ¡vel binÃ¡ria: 1 = ocorreu nas primeiras 24h, 0 = depois das 24h
chartevents['24h'] = (chartevents['time_since_admission'] <= 24).astype(int)

In [29]:
print(chartevents.columns)

Index(['subject_id', 'hadm_id', 'itemid', 'charttime', 'value', 'valuenum',
       'valueuom', 'label', 'category', 'unitname', 'admittime',
       'time_since_admission', '24h'],
      dtype='object')

In [32]:
df_complete = chartevents.merge(
    df_final,
    on=['subject_id'],
    how='inner'
)

In [33]:
display(df_complete)

,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,label,category,unitname,admittime_x,time_since_admission,24h,icd_code,seq_num,admittime_y,admission_type,race,discharge_location,admission_location,deathtime,anchor_age,age
0,10005817,20626031,225054,2132-12-16 00:00:00,On,NaN,NaN,Anti Embolic Device Status,Treatments,NaN,2132-12-12 01:43:00,94.283333,0,I2510,12,2135-01-03 21:54:00,OBSERVATION ADMIT,WHITE,DIED,TRANSFER FROM HOSPITAL,2135-01-19 18:36:00,66,69
1,10005817,20626031,225054,2132-12-16 00:00:00,On,NaN,NaN,Anti Embolic Device Status,Treatments,NaN,2132-12-12 01:43:00,94.283333,0,4019,14,2132-12-12 01:43:00,URGENT,WHITE,HOME HEALTH CARE,TRANSFER FROM HOSPITAL,NaN,66,66
2,10005817,20626031,225054,2132-12-16 00:00:00,On,NaN,NaN,Anti Embolic Device Status,Treatments,NaN,2132-12-12 01:43:00,94.283333,0,42731,3,2132-12-12 01:43:00,URGENT,WHITE,HOME HEALTH CARE,TRANSFER FROM HOSPITAL,NaN,66,66
3,10005817,20626031,225054,2132-12-16 00:00:00,On,NaN,NaN,Anti Embolic Device Status,Treatments,NaN,2132-12-12 01:43:00,94.283333,0,25000,6,2132-12-12 01:43:00,URGENT,WHITE,HOME HEALTH CARE,TRANSFER FROM HOSPITAL,NaN,66,66
4,10005817,20626031,225054,2132-12-16 00:00:00,On,NaN,NaN,Anti Embolic Device Status,Treatments,NaN,2132-12-12 01:43:00,94.283333,0,41401,8,2132-12-12 01:43:00,URGENT,WHITE,HOME HEALTH CARE,TRANSFER FROM HOSPITAL,NaN,66,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5036082,10021666,22756440,226253,2172-03-13 01:59:00,88,88.0,%,SpO2 Desat Limit,Alarms,%,2172-03-12 23:47:00,2.200000,1,2724,22,2172-03-12 23:47:00,EW EMER.,WHITE,CHRONIC/LONG TERM ACUTE CARE,EMERGENCY ROOM,NaN,87,87
5036083,10021666,22756440,226253,2172-03-13 01:59:00,88,88.0,%,SpO2 Desat Limit,Alarms,%,2172-03-12 23:47:00,2.200000,1,41401,11,2172-03-12 23:47:00,EW EMER.,WHITE,CHRONIC/LONG TERM ACUTE CARE,EMERGENCY ROOM,NaN,87,87
5036084,10021666,22756440,220001,2172-03-13 04:38:46,.Care Plan - Altered Mental Status,NaN,NaN,Problem List,General,NaN,2172-03-12 23:47:00,4.862778,1,42731,24,2172-03-12 23:47:00,EW EMER.,WHITE,CHRONIC/LONG TERM ACUTE CARE,EMERGENCY ROOM,NaN,87,87
5036085,10021666,22756440,220001,2172-03-13 04:38:46,.Care Plan - Altered Mental Status,NaN,NaN,Problem List,General,NaN,2172-03-12 23:47:00,4.862778,1,2724,22,2172-03-12 23:47:00,EW EMER.,WHITE,CHRONIC/LONG TERM ACUTE CARE,EMERGENCY ROOM,NaN,87,87
5036086,10021666,22756440,220001,2172-03-13 04:38:46,.Care Plan - Altered Mental Status,NaN,NaN,Problem List,General,NaN,2172-03-12 23:47:00,4.862778,1,41401,11,2172-03-12 23:47:00,EW EMER.,WHITE,CHRONIC/LONG TERM ACUTE CARE,EMERGENCY ROOM,NaN,87,87

In [35]:
df_complete = df_complete.drop(['admittime_y', 'hadm_id', 'itemid', 'unitname', 'anchor_age'], axis=1)

In [36]:
print(labevents.columns)

Index(['labevent_id', 'subject_id', 'hadm_id', 'specimen_id', 'itemid',
       'order_provider_id', 'charttime', 'storetime', 'value', 'valuenum',
       'valueuom', 'ref_range_lower', 'ref_range_upper', 'flag', 'priority',
       'comments'],
      dtype='object')

In [37]:
print(df_complete.columns)

Index(['subject_id', 'charttime', 'value', 'valuenum', 'valueuom', 'label',
       'category', 'admittime_x', 'time_since_admission', '24h', 'icd_code',
       'seq_num', 'admission_type', 'race', 'discharge_location',
       'admission_location', 'deathtime', 'age'],
      dtype='object')

In [38]:
display(labevents)

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,172061,10014354,29600294.0,1808066,51277,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,15.4,15.40,%,10.5,15.5,NaN,ROUTINE,NaN
1,172062,10014354,29600294.0,1808066,51279,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,3.35,3.35,m/uL,4.6,6.1,abnormal,ROUTINE,NaN
2,172068,10014354,29600294.0,1808066,52172,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,49.7,49.70,fL,35.1,46.3,abnormal,ROUTINE,NaN
3,172063,10014354,29600294.0,1808066,51301,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,20.3,20.30,K/uL,4.0,10.0,abnormal,ROUTINE,NaN
4,172050,10014354,29600294.0,1808066,51249,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,31.1,31.10,g/dL,32.0,37.0,abnormal,ROUTINE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107722,254700,10021487,28998349.0,78791160,50804,NaN,2116-12-07 18:59:00,2116-12-07 19:00:00,35,35.00,mEq/L,21.0,30.0,abnormal,NaN,NaN
107723,254702,10021487,28998349.0,78791160,50818,NaN,2116-12-07 18:59:00,2116-12-07 19:00:00,56,56.00,mm Hg,35.0,45.0,abnormal,NaN,NaN
107724,254707,10021487,28998349.0,78791160,52033,NaN,2116-12-07 18:59:00,2116-12-07 18:59:00,ART.,NaN,NaN,NaN,NaN,NaN,NaN,___
107725,254706,10021487,28998349.0,78791160,50825,NaN,2116-12-07 18:59:00,2116-12-07 18:59:00,39.7,39.70,NaN,NaN,NaN,NaN,NaN,NaN
107726,454886,10038999,27189241.0,13534028,50873,NaN,2131-05-23 21:59:00,2131-05-25 14:36:00,___,NaN,NaN,NaN,NaN,NaN,STAT,NEGATIVE.

In [42]:
# Garantir que os datetimes estÃ£o corretos
labevents['charttime'] = pd.to_datetime(labevents['charttime'])
df_complete['admittime_x'] = pd.to_datetime(df_complete['admittime_x'])

# Pegar sÃ³ admittime e chaves para merge
admit_lookup = df_complete[['subject_id', 'admittime_x']].drop_duplicates()

# Merge admittime no labevents
labevents_merged = labevents.merge(admit_lookup, on=['subject_id'], how='inner')

# Calcular tempo desde admissÃ£o (em horas)
labevents_merged['time_since_admission'] = (
    (labevents_merged['charttime'] - labevents_merged['admittime_x']).dt.total_seconds() / 3600
)

# Criar variÃ¡vel binÃ¡ria: 1 = primeiras 24h, 0 = apÃ³s 24h
labevents_merged['24h_lab'] = (labevents_merged['time_since_admission'] <= 24).astype(int)

In [43]:
display(labevents_merged)

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments,admittime_x,time_since_admission,24h_lab
0,172061,10014354,29600294.0,1808066,51277,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,15.4,15.40,%,10.5,15.5,NaN,ROUTINE,NaN,2148-06-30 01:09:00,1126.850000,0
1,172061,10014354,29600294.0,1808066,51277,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,15.4,15.40,%,10.5,15.5,NaN,ROUTINE,NaN,2148-08-14 22:57:00,25.050000,0
2,172061,10014354,29600294.0,1808066,51277,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,15.4,15.40,%,10.5,15.5,NaN,ROUTINE,NaN,2146-10-08 23:47:00,16248.216667,0
3,172062,10014354,29600294.0,1808066,51279,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,3.35,3.35,m/uL,4.6,6.1,abnormal,ROUTINE,NaN,2148-06-30 01:09:00,1126.850000,0
4,172062,10014354,29600294.0,1808066,51279,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,3.35,3.35,m/uL,4.6,6.1,abnormal,ROUTINE,NaN,2148-08-14 22:57:00,25.050000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180819,265209,10022281,NaN,97977051,50868,NaN,2125-06-17 01:45:00,2125-06-17 02:53:00,18,18.00,mEq/L,8.0,20.0,NaN,STAT,NaN,2125-06-17 04:11:00,-2.433333,1
180820,265215,10022281,NaN,97977051,50931,NaN,2125-06-17 01:45:00,2125-06-17 02:53:00,___,83.00,mg/dL,70.0,100.0,NaN,STAT,"IF FASTING, 70-100 NORMAL, >125 PROVISIONAL DI...",2125-06-17 04:11:00,-2.433333,1
180821,265212,10022281,NaN,97977051,50902,NaN,2125-06-17 01:45:00,2125-06-17 02:53:00,102,102.00,mEq/L,96.0,108.0,NaN,STAT,NaN,2125-06-17 04:11:00,-2.433333,1
180822,265211,10022281,NaN,97977051,50893,NaN,2125-06-17 01:45:00,2125-06-17 02:53:00,9.5,9.50,mg/dL,8.4,10.3,NaN,STAT,NaN,2125-06-17 04:11:00,-2.433333,1
180823,265218,10022281,NaN,97977051,50971,NaN,2125-06-17 01:45:00,2125-06-17 02:53:00,3.9,3.90,mEq/L,3.3,5.1,NaN,STAT,NaN,2125-06-17 04:11:00,-2.433333,1

In [44]:
labevents_24h = labevents_merged.merge(d_labitems[['itemid', 'label']], on='itemid', how='left')

In [45]:
print(labevents_24h.columns)

Index(['labevent_id', 'subject_id', 'hadm_id', 'specimen_id', 'itemid',
       'order_provider_id', 'charttime', 'storetime', 'value', 'valuenum',
       'valueuom', 'ref_range_lower', 'ref_range_upper', 'flag', 'priority',
       'comments', 'admittime_x', 'time_since_admission', '24h_lab', 'label'],
      dtype='object')

In [46]:
print(df_complete.columns)

Index(['subject_id', 'charttime', 'value', 'valuenum', 'valueuom', 'label',
       'category', 'admittime_x', 'time_since_admission', '24h', 'icd_code',
       'seq_num', 'admission_type', 'race', 'discharge_location',
       'admission_location', 'deathtime', 'age'],
      dtype='object')

In [47]:
df_clean = labevents_24h.drop(columns=[           
    'specimen_id',               
    'order_provider_id',          
    'storetime',                   
    'flag',
    'comments'        
])

In [48]:
df_complete = df_complete.sort_values(['subject_id', 'admittime_x'])
df_complete['previous_admissions'] = df_complete.groupby('subject_id').cumcount()

In [49]:
labevent_24 = labevents_24h.sort_values(['subject_id', 'admittime_x'])
labevent_24['previous_admissions'] = labevent_24.groupby('subject_id').cumcount()

# Filtrar as doenÃ§as antes de juntar

In [50]:
codes_stick = ['4019', 'E785', '2724', 'E039', 'Z794', 'Z87891']
df_filtered = df_complete[df_complete['icd_code'].isin(codes_stick)]

In [51]:
display(df_filtered)

,subject_id,charttime,value,valuenum,valueuom,label,category,admittime_x,time_since_admission,24h,icd_code,seq_num,admission_type,race,discharge_location,admission_location,deathtime,age,previous_admissions
1766599,10001217,2157-11-20 20:00:00,Easily Palpable,NaN,NaN,Radial Pulse L,Cardiovascular (Pulses),2157-11-18 22:56:00,45.066667,0,4019,8,EW EMER.,WHITE,HOME HEALTH CARE,EMERGENCY ROOM,NaN,55,0
1766600,10001217,2157-11-20 20:00:00,Easily Palpable,NaN,NaN,Radial Pulse L,Cardiovascular (Pulses),2157-11-18 22:56:00,45.066667,0,4019,6,DIRECT EMER.,WHITE,HOME HEALTH CARE,PHYSICIAN REFERRAL,NaN,55,1
1766601,10001217,2157-11-20 20:00:00,Clear,NaN,NaN,LLL Lung Sounds,Pulmonary,2157-11-18 22:56:00,45.066667,0,4019,8,EW EMER.,WHITE,HOME HEALTH CARE,EMERGENCY ROOM,NaN,55,2
1766602,10001217,2157-11-20 20:00:00,Clear,NaN,NaN,LLL Lung Sounds,Pulmonary,2157-11-18 22:56:00,45.066667,0,4019,6,DIRECT EMER.,WHITE,HOME HEALTH CARE,PHYSICIAN REFERRAL,NaN,55,3
1766603,10001217,2157-11-20 20:00:00,NaN,0.0,NaN,Pain Level,Pain/Sedation,2157-11-18 22:56:00,45.066667,0,4019,8,EW EMER.,WHITE,HOME HEALTH CARE,EMERGENCY ROOM,NaN,55,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3428826,10040025,2148-01-25 18:06:25,.Care Plan - Patient Safety Requiring the Use ...,NaN,NaN,Problem List,General,2148-01-23 12:18:00,53.806944,0,E785,20,OBSERVATION ADMIT,WHITE,HOME,EMERGENCY ROOM,NaN,68,466072
3428828,10040025,2148-01-25 18:06:25,.Care Plan - Patient Safety Requiring the Use ...,NaN,NaN,Problem List,General,2148-01-23 12:18:00,53.806944,0,E039,21,OBSERVATION ADMIT,WHITE,HOME,EMERGENCY ROOM,NaN,68,466074
3428830,10040025,2148-01-25 18:06:25,.Care Plan - Patient Safety Requiring the Use ...,NaN,NaN,Problem List,General,2148-01-23 12:18:00,53.806944,0,Z87891,24,OBSERVATION ADMIT,WHITE,HOME,EMERGENCY ROOM,NaN,68,466076
3428831,10040025,2148-01-25 18:06:25,.Care Plan - Patient Safety Requiring the Use ...,NaN,NaN,Problem List,General,2148-01-23 12:18:00,53.806944,0,Z794,13,OBSERVATION ADMIT,WHITE,HOME,EMERGENCY ROOM,NaN,68,466077
3428833,10040025,2148-01-25 18:06:25,.Care Plan - Patient Safety Requiring the Use ...,NaN,NaN,Problem List,General,2148-01-23 12:18:00,53.806944,0,2724,9,EW EMER.,WHITE,HOME,EMERGENCY ROOM,NaN,66,466079

In [54]:
df_ = df_filtered.drop(columns=[           
    'charttime',               
    'admittime_x',          
    'seq_num'      
])

In [55]:
df_complete_with_labs = df_filtered.merge(
    labevents_24h,
    on=['subject_id'],
    how='left',  # ou 'inner' se quiser manter sÃ³ intersecÃ§Ã£o
    suffixes=('_chartevent', '_labevent')
)

display(df_complete_with_labs)

MemoryError: Unable to allocate 200. GiB for an array with shape (26797450072,) and data type int64

In [ ]:
print(df_complete_with_labs.columns)

In [ ]:
df_clean = df_complete_with_labs.drop(columns=[
    'admittime_x_chartevent',     
    'itemid_chartevent',          
    'itemid_labevent',            
    'specimen_id',               
    'order_provider_id',          
    'storetime',                  
    'ref_range_lower', 'ref_range_upper',  
    'flag',        
])

df_clean = df_clean.rename(columns={
    'admittime_x_labevent': 'admittime',
    'horas_desde_admissao_chartevent': 'time_since_admission_chartevent',
    'horas_desde_admissao_labevent': 'time_since_admission_labevent',
})

In [ ]:
display(df_clean)