In [6]:
import pandas as pd

In [22]:

cases = pd.DataFrame([
    {
        'subject_id': 1,
        'value_chartevent': 'No movement',
        'valuenum_chartevent': 36.8,
        'valueuom_chartevent': 'Unknown',
        'label_chartevent': 'Temperature Celsius',
        'category': 'Routine Vital Signs',
        'time_since_admission_chartevent': 12.0000,
        'admission_type': 'URGENT',
        'insurance': 'Medicare',
        'race': 'WHITE',
        'admission_location': 'EMERGENCY ROOM',
        'age': 72,
        'value_labevent': '2',
        'valuenum_labevent': 2.0,
        'valueuom_labevent': 'mg/dL',
        'priority': 'STAT',
        'time_since_admission_labevent': 1.20000
    },
    {
        'subject_id': 2,
        'value_chartevent': '27',
        'valuenum_chartevent': 27.0,
        'valueuom_chartevent': 'mA',
        'label_chartevent': 'Temporary Ventricular Stim Setting mA',
        'category': 'Cardiovascular (Pacer Data)',
        'time_since_admission_chartevent': 2.5000,
        'admission_type': 'EW EMER.',
        'insurance': 'Other',
        'race': 'HISPANIC OR LATINO',
        'admission_location': 'PHYSICIAN REFERRAL',
        'age': 67,
        'value_labevent': '333',
        'valuenum_labevent': 333.0,
        'valueuom_labevent': 'mm Hg',
        'priority': 'Unknown',
        'time_since_admission_labevent': 2.0000
    },
    {
        # real case -> Z87891
        'subject_id': 3,
        'value_chartevent': '8',
        'valuenum_chartevent': 8.0,
        'valueuom_chartevent': 'insp/min',
        'label_chartevent': 'Resp Alarm - Low',
        'category': 'Alarms',
        'time_since_admission_chartevent': 12.550000,
        'admission_type': 'EW EMER.',
        'insurance': 'Other',
        'race': 'WHITE',
        'admission_location': 'PHYSICIAN REFERRAL',
        'age': 59,
        'value_labevent': '8.9',
        'valuenum_labevent': 8.9,
        'valueuom_labevent': 'g/dL',
        'priority': 'STAT',
        'time_since_admission_labevent': 14.950000
    },
    {
    'subject_id': 4,
    'value_chartevent': '25',
    'valuenum_chartevent': 25.0	,
    'valueuom_chartevent': 'mA',
    'label_chartevent': 'Temporary Ventricular Stim Setting mA',
    'category': 'Cardiovascular (Pacer Data)',
    'time_since_admission_chartevent': 16.750000,
    'admission_type': 'SURGICAL SAME DAY ADMISSION',
    'insurance': 'Other',
    'race': 'HISPANIC OR LATINO',
    'admission_location': 'PHYSICIAN REFERRAL',
    'age': 67,
    'value_labevent': '384',
    'valuenum_labevent': 384.0,
    'valueuom_labevent': 'mm Hg',
    'priority': 'Unknown',
    'time_since_admission_labevent': 5.616667
    }
])

In [23]:
cases.to_csv("cases.csv", index=False)

In [24]:
df = pd.read_csv("cases.csv")
display(df)

,subject_id,value_chartevent,valuenum_chartevent,valueuom_chartevent,label_chartevent,category,time_since_admission_chartevent,admission_type,insurance,race,admission_location,age,value_labevent,valuenum_labevent,valueuom_labevent,priority,time_since_admission_labevent
0,1,No movement,36.8,Unknown,Temperature Celsius,Routine Vital Signs,12.00,URGENT,Medicare,WHITE,EMERGENCY ROOM,72,2.0,2.0,mg/dL,STAT,1.200000
1,2,27,27.0,mA,Temporary Ventricular Stim Setting mA,Cardiovascular (Pacer Data),2.50,EW EMER.,Other,HISPANIC OR LATINO,PHYSICIAN REFERRAL,67,333.0,333.0,mm Hg,Unknown,2.000000
2,3,8,8.0,insp/min,Resp Alarm - Low,Alarms,12.55,EW EMER.,Other,WHITE,PHYSICIAN REFERRAL,59,8.9,8.9,g/dL,STAT,14.950000
3,4,25,25.0,mA,Temporary Ventricular Stim Setting mA,Cardiovascular (Pacer Data),16.75,SURGICAL SAME DAY ADMISSION,Other,HISPANIC OR LATINO,PHYSICIAN REFERRAL,67,384.0,384.0,mm Hg,Unknown,5.616667

# Code and descrition dataset

In [6]:
df2 = pd.read_csv('..\documents\generated\df_finalAP.csv', low_memory=False)
display(df2)

,icd_code,long_title,subject_id,hadm_id,admittime,admission_type,insurance,race,admission_location,anchor_age,age
0,41401,Coronary atherosclerosis of native coronary ar...,10035185,22580999,2120-05-12 12:53:00,URGENT,Other,WHITE,TRANSFER FROM HOSPITAL,70,70
1,2724,Other and unspecified hyperlipidemia,10035185,22580999,2120-05-12 12:53:00,URGENT,Other,WHITE,TRANSFER FROM HOSPITAL,70,70
2,4019,Unspecified essential hypertension,10018501,28479513,2141-07-30 22:34:00,EW EMER.,Medicare,WHITE,EMERGENCY ROOM,83,83
3,4019,Unspecified essential hypertension,10001217,24597018,2157-11-18 22:56:00,EW EMER.,Other,WHITE,EMERGENCY ROOM,55,55
4,4019,Unspecified essential hypertension,10023771,20044587,2113-08-25 07:15:00,ELECTIVE,Medicare,WHITE,PHYSICIAN REFERRAL,70,70
...,...,...,...,...,...,...,...,...,...,...,...
578,4019,Unspecified essential hypertension,10002428,28676446,2157-07-16 04:09:00,EU OBSERVATION,Medicare,WHITE,EMERGENCY ROOM,80,82
579,2724,Other and unspecified hyperlipidemia,10002428,28676446,2157-07-16 04:09:00,EU OBSERVATION,Medicare,WHITE,EMERGENCY ROOM,80,82
580,4019,Unspecified essential hypertension,10002428,23473524,2156-05-11 14:49:00,EW EMER.,Medicare,WHITE,EMERGENCY ROOM,80,81
581,4019,Unspecified essential hypertension,10002428,25797028,2155-07-14 19:15:00,EU OBSERVATION,Medicare,WHITE,EMERGENCY ROOM,80,80
582,4019,Unspecified essential hypertension,10002428,28662225,2156-04-12 14:16:00,EW EMER.,Medicare,WHITE,EMERGENCY ROOM,80,81

In [7]:
codes_stick = ['4019', 'E785', '2724', 'E039', 'Z794', 'Z87891']
df_filtered = df2[df2['icd_code'].isin(codes_stick)]

In [8]:
util = ['icd_code', 'long_title']

In [9]:
df_limpo = df_filtered[util].copy()

In [10]:
display(df_limpo)

    icd_code                            long_title
1       2724  Other and unspecified hyperlipidemia
2       4019    Unspecified essential hypertension
3       4019    Unspecified essential hypertension
4       4019    Unspecified essential hypertension
6       2724  Other and unspecified hyperlipidemia
..       ...                                   ...
578     4019    Unspecified essential hypertension
579     2724  Other and unspecified hyperlipidemia
580     4019    Unspecified essential hypertension
581     4019    Unspecified essential hypertension
582     4019    Unspecified essential hypertension

[299 rows x 2 columns]

In [11]:
print(df_limpo['icd_code'].unique())

['2724' '4019' 'E785' 'Z87891' 'E039' 'Z794']

In [12]:
df_limpo.nunique()

icd_code      6
long_title    6
dtype: int64

In [13]:
df_reduced = df_limpo.drop_duplicates(subset='icd_code', keep='first')

In [14]:
df_reduced.nunique()

icd_code      6
long_title    6
dtype: int64

In [15]:
display(df_reduced)

   icd_code                               long_title
1      2724     Other and unspecified hyperlipidemia
2      4019       Unspecified essential hypertension
11     E785              Hyperlipidemia, unspecified
38   Z87891  Personal history of nicotine dependence
74     E039              Hypothyroidism, unspecified
96     Z794       Long term (current) use of insulin

In [16]:
df_reduced.to_csv("icd_match.csv", index=False)